@page "/comparison/{DeviceIds}"

@using SampleTaskWeb.Client.Manager

@inject HttpClient _httpClient
@inject DeviceManager _deviceManager

@inject NavigationManager _navigationManager

<MudContainer>
  <div class="d-flex flex-row-reverse">
    <MudButton HtmlTag="label"
               Class="p-2"
               Variant="Variant.Filled"
               Color="Color.Primary"
               OnClick="BackButtonClicked">
      Back
    </MudButton>
  </div>
  <div class="pt-4">
    <MudTable Items="_rowsToShow" MultiSelection="true" @bind-SelectedItems="_selectedRows">
      <HeaderContent>
        <MudTh>--</MudTh>
        @foreach (var name in _devices.Select(x => x.Name))
        {
          <MudTh>Name: @name</MudTh>
        }
      </HeaderContent>
      <RowTemplate>
        <MudTd>@context.PropertyName</MudTd>
        @foreach (var prop in context.PropertyValues)
        {
          @if (CheckForValueEquality(context.PropertyName, prop))
          {
          <MudTd Style="background-color: lawngreen">@prop</MudTd>
          }
          else
          {
          <MudTd>@prop</MudTd>
          }
        }
      </RowTemplate>
    </MudTable>
  </div>
    <div class="d-flex flex-row-reverse">
      <MudButton HtmlTag="label"
                 Class="p-2 mt-2"
                 Variant="Variant.Filled"
                 Color="Color.Primary"
                 OnClick="HideButtonClicked">
        @if (_areRowsHidden)
        {
          <div>Show Rows</div>
        }
        else
        {
          <div>Hide Rows</div>
        }
      </MudButton>
  </div>
</MudContainer>